.header-container, .results-container {
  display: flex;
  flex-flow: column wrap;
}

.header-container .headers, 
.results-container .parkResults, 
.results-container .trailResults, 
.results-container .wildlifeResults {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 80px;
}

.headers .header, 
.park_code, .park_name, .state, .acres, .latitude, .longitude,
.trail_name, .popularity, .length, .elevation, .score,
.scientific_name, .common_names, .order_name, .family {
  flex: 1 0 16%;
}

.submit-btn {
  margin: 20px 20px;
}